{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Cart</h1>


    {% if cart.products.exists %}
    <table class="table cart-table">
        <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
            </tr>
        </thead>
        <tbody class="cart-body">

            {% for product in cart.products.all %}
            <tr class="cart-products">
                <th  scope="row">{{forloop.counter}}</th>
                <td><a href="{{product.get_absolute_url}}">{{product.title}}</a>
                    {% include 'carts/snippets/remove-products.html' with product_id=product.id  %}
                </td>
                <td>{{product.price}}</td>

            </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td><b>Sub Total</b> </td>

                <td><span class="cart-subtotal">{{cart.subtotal}}</span></td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td><b>Total</b> </td>
                <td><span class="cart-total">{{cart.total}}</span></td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td><b><a href="{% url 'cart:checkout' %}" class="btn btn-success">CheckOut</a></b> </td>


            </tr>

        </tbody>
    </table>

    <div class="cart-item-remove-form" style="display:none">
        {% include 'carts/snippets/remove-products.html' %}
    </div>

    {% else %}
    <p class="lead">
        Cart is empty
    </p>
    {% endif %}

</div>
{% endblock content %}
